<div class="overlay">
  <h3>Investment Summary</h3>
  <table class="summary">
    <tr>
      <td>Expected Annualized Return</td>
      <td class="align-right">$50,000</td>
    </tr>
    <tr>
      <td>Expected Loss Rate</td>
      <td class="align-right">$3,600</td>
    </tr>
    <tr>
      <td>Total Amount Invested</td>
      <td class="align-right">7.2%</td>
    </tr>
    <tr>
      <td># of loans invested</td>
      <td class="align-right">7.2%</td>
    </tr>
  </table>
  <table class="buttons" style="text-align: left">
    <tr>
      <td>
        <a class="button" routerLink="/investment-confirmation">Previous</a>
      </td>
      <td style="text-align: right">
        <a class="button" routerLink="/portfolio-details">Next</a>
      </td>
    </tr>
  </table>
</div>