<div class="overlay">
  <h1>Hello, {{userInfo.Name}}</h1>
  <div class="card">
    <table>
      <tr>
        <td>Available Cash </td>
        <td>{{ balance | currency:'JPY'}}</td>
      </tr>
      <tr>
        <td style="text-align: center; font-weight: bold">+</td>
      </tr>
      <tr>
        <td>Outstanding Principal </td>
        <td>{{ investedAmount | currency:'JPY'}}</td>
      </tr>
      <tr>
        <td style="text-align: center; font-weight: bold">=</td>
      </tr>
      <tr>
        <td>Your account value is </td>
        <td>{{ balance + investedAmount | currency:'JPY'}}</td>
      </tr>
    </table>
  </div>
  <div>
    <a class="button" routerLink="/invest">Invest</a>
  </div>
  <div>
    <a class="button" routerLink="/deposit-withdrawal">Deposit/Withdraw</a>
  </div>
</div>