<div class="overlay">
  <h2 style="text-align: center">Create An Account</h2>
  <form>
    Personal Identification:
    <input type="file" id="personalIdentification">
    <br> Real Estate Contract Term Sheet:
    <input type="file" id="realEstateContract">
    <br> Income Proof:
    <input type="file" id="incomeProof">
    <br>
  </form>
  <table class="buttons">
    <tr>
      <td>
        <a class="button" routerLink="/loan-offer">Previous</a>
      </td>
      <td style="text-align: right">
        <a class="button" routerLink="/agreement-letter">Next</a>
      </td>
    </tr>
  </table>
</div>