<div class="overlay">
  <h2 style="text-align: center">Payback Schedule</h2>

  <div class="card">
    <b>Loan Terms</b>
    <hr>
    <p>Total Loan Amount: {{totalLoanAmount}}</p>
    <p>Interest Amount: {{interestAmount}}</p>
  </div>
  <br>
  <div class="card">
    <b>Paid Off Loan</b>
    <hr>
    <p>Total Loan Amount: {{paidLoanAmount}}</p>
    <p>Payment Made: {{paymentMade}}</p>
  </div>

  <div class="card">
    <b>To Be Paid</b>
    <hr>
    <p>Total Loan Amount: {{remainingLoanAmount}}</p>
    <p>Months Left: {{remainingMonths}}</p>
    <p>Monthly Payment: {{monthlyPayment}}</p>
  </div>
</div>