.overlay {
  margin: auto;
  width: 30%;
  background: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

a.button {
  cursor: default;
  outline: 0;
  background: #9f72e6;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;

  &:hover {
    background: #b290e7;
    text-decoration: none;
  }
  &:active {
    background: #7947c9;
  }
  &:disabled {
    cursor: not-allowed;
    background: #b598e4;
  }
}

div.card {
  vertical-align: top;
  display: inline-block;
  background: white;
  width: fit-content;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
}
