<div class="overlay">
  <h2 style="text-align: center">Create An Account</h2>
  <form>
    Email:
    <input type="email" name="email" placeholder="you@email.com">
    <br> Password:
    <input type="password" name="password">
    <br>
    <input type="checkbox">I have read and agreed to stuff.
    <br>
  </form>
  <table class="buttons">
    <tr>
      <td>
        <a class="button" routerLink="/manual-investment">Previous</a>
      </td>
      <td style="text-align: right">
        <a class="button" routerLink="/deposit-withdrawal">View your Account</a>
      </td>
    </tr>
  </table>
</div>