<div class="overlay">
  <h1>Investments Confirmation (Manual)</h1>
  <h3>Investment Items</h3>
  <table class="items">
    <tr class="items">
      <th class="items">Loan ID</th>
      <th class="items">Investing Amount</th>
      <th class="items">Expected Annual Return</th>
      <th class="items">Risk Grade</th>
      <th class="items"></th>
    </tr>
    <tr class="items" *ngFor="let loan of loans">
      <td class="items">{{loan.id}}</td>
      <td class="items">{{loan.amount | currency}}</td>
      <td class="items">{{loan.expectedReturn | percent}}</td>
      <td class="items">{{loan.grade}}</td>
      <td class="items">
        <button>Change</button>
      </td>
    </tr>
  </table>

  <h3>Investment Summary</h3>
  <table>
    <tr>
      <td class="summary">Total Investment</td>
      <td class="summary align-right">$50,000</td>
    </tr>
    <tr>
      <td class="summary">Total Expected Return</td>
      <td class="summary align-right">$3,600</td>
    </tr>
    <tr>
      <td class="summary">% earned</td>
      <td class="summary align-right">7.2%</td>
    </tr>
  </table>

  <table class="buttons" style="text-align: left">
    <tr>
      <td>
        <a class="button" routerLink="/deposit-withdrawal">Previous</a>
      </td>
      <td style="text-align: right">
        <a class="button" routerLink="/portfolio-details">Next</a>
      </td>
    </tr>
  </table>
</div>