table.items {
  border-collapse: collapse;
}
tr.items {
  &:first-child {
    border-bottom: 1px black solid;
  }
}
th.items {
  font-weight: bold;
  padding: 7px;
}
td.items {
  padding: 5px;
  text-align: center;
}

td.summary {
  font-weight: 350;
  padding: 5px;
}

.align-right {
  text-align: right;
}

a.button {
  cursor: default;
  outline: 0;
  background: #9f72e6;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;

  &:hover {
    background: #b290e7;
    text-decoration: none;
  }
  &:active {
    background: #7947c9;
  }
  &:disabled {
    cursor: not-allowed;
    background: #b598e4;
  }
}
