<div class="overlay">
  <h2 style="text-align: center">Bank Account Details</h2>

  <form>
    Bank name:
    <input type="text" name="bankName">
    <br> Branch Office:
    <input type="text" name="branchOffice">
    <br> Account Type:
    <input type="text" name="accountType">
    <br> Account Number:
    <input type="text" name="accountNumber">
    <br> Name of Account Holder:
    <input type="text" name="nameOfAccountHolder">
    <br>
  </form>
  <table class="buttons">
    <tr>
      <td>
        <a class="button" routerLink="/agreement-letter">Previous</a>
      </td>
      <td style="text-align: right">
        <button (click)="saveLoan()">Submit</button>
      </td>
    </tr>
  </table>
</div>