<div class="overlay">
  <nav style="margin-bottom: 15px">
    <a class="button" routerLink="/deposit-withdrawal/deposit">Deposit Cash</a>
    <a class="button" routerLink="/deposit-withdrawal/withdraw">Withdraw Cash</a>
    <a class="button" routerLink="/deposit-withdrawal/history">Transaction History</a>
  </nav>

  <router-outlet></router-outlet>

  <table class="buttons" style="text-align: left">
    <tr>
      <td>
        <a class="button" routerLink="/sign-up-lender">Previous</a>
      </td>
      <td style="text-align: right">
        <a class="button" routerLink="/investment-confirmation">Next</a>
      </td>
    </tr>
  </table>
</div>