<div class="overlay">
  <h2 style="text-align: center">Check Your Rate</h2>

  <div class="form-group">First name:
    <input type="text" #firstName>
  </div>
  <div class="form-group">Last name:
    <input type="text" #lastName>
  </div>
  <div class="form-group">Date of Birth:
    <app-date-field #dob style="width: 100%"></app-date-field>
  </div>
  <div class="form-group">Home Address
    <input type="text" #homeAddress>
  </div>
  <div class="form-group">Annual Income: $
    <input type="number" #annualIncome>
  </div>
  <div class="form-group">
    <button (click)="submit()">Save</button>
  </div>

  <table class="buttons">
    <tr>
      <td>
        <a class="button" routerLink="/home">Previous</a>
      </td>
      <td style="text-align: right">
        <a class="button" routerLink="/upload-documents">Next</a>
      </td>
    </tr>
  </table>
</div>