<div class="overlay">
  <h2 style="text-align: center">Loan Offer</h2>

  <div class="center">
    <label>Low End</label>
    <input type="range" [(ngModel)]="preferenceBar" min="100000" max="500000" (change)="updateValues($event.target.value)">
    <label>High End</label>
  </div>

  <div class="center">
    <!-- <input type="text" [(ngModel)]="preferenceBar" disabled="true"> -->
    <button disabled="true" style="font-size: 20px; width: 200px; cursor: default">{{preferenceBar}}</button>
  </div>

  <h3>Payback in:</h3>


  <div class="center">
    <card *ngFor="let pt of paymentTypes" title="{{pt.length}} months" [selected]="active == pt.id ? 'selected' : 'regular'">
      <p>Payment/Month: {{pt.payment | currency}}</p>
      <p>Interest Rate: {{pt.rate | percent}}</p>

      <button (click)="select(pt.id)">Select this guy!!!</button>
    </card>
  </div>

  <table class="buttons" style="text-align: left">
    <tr>
      <td style="text-align: right">
        <a class="button" routerLink="/borrower-dashboard" (click)="saveLoan()">Save Loan</a>
      </td>
    </tr>
  </table>
</div>