@import '../colors';

nav {
  padding: 10px;
  background: $nav-background;
}

.topNav {
  width: 100%;
  position: fixed;
  top: 0px;

  border-width: 0 0 2px 0;
  border-color: $nav-border-color;
  border-style: solid;
  box-shadow: 0 0 25px 0;
}

.navLeft {
  display: inline;
}

.navRight {
  float: right;

  & > a {
    margin-left: 20px;
  }
}

.bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0px;

  border-width: 2px 0 0 0;
  border-color: $nav-border-color;
  border-style: solid;
  box-shadow: 0 0 25px 0;
}
