<div class="app">
  <nav class="topNav">
    <div class="navLeft">
      <a routerLink="/" routerLinkActive="active">
        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" style="width: 150px">
      </a>
    </div>

    <div class="navRight">
      <a routerLink="/login" routerLinkActive="active">Sign in</a>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <br>
  <nav class="bottomNav">
    <div class="navRight">
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
      <a routerLink="/toc" routerLinkActive="active">Terms and Conditions</a>
    </div>
  </nav>
</div>