<div class="app">
  <nav class="topNav">
    <div class="navLeft">
      <a routerLink="/" routerLinkActive="active">
        <img src="https://i.imgur.com/WuBbIAK.png" width="150" height="50">
      </a>
    </div>

    <div class="navRight">
      <a *ngIf="!currentUser" routerLink="/login" routerLinkActive="active">Sign in</a>
      <div *ngIf="currentUser">
        <p>Hello, {{currentUser.Name}}</p>
        <p>You are a {{currentUser.IsLender == 1 ? 'lender' : 'borrower'}}</p>
        <a routerLink="/home" (click)="logout()">Log out</a>
        &bull;
        <a [routerLink]="currentUser.IsLender == 1 ? 'lender-dashboard' : 'borrower-dashboard'">Dashboard</a>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <br>
  <nav class="bottomNav">
    <div class="navRight">
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
      <a routerLink="/toc" routerLinkActive="active">Terms and Conditions</a>
    </div>
  </nav>
</div>