<div class="overlay">
  <h2 style="text-align: center">Check Your Rate</h2>
  <form>
    First name:
    <input type="text" name="firstName">
    <br> Last name:
    <input type="text" name="lastName">
    <br> Date of Birth:
    <date-field #dob style="width: 100%"></date-field>
    <br> Home Address
    <input type="text" name="homeAddress">
    <br> Annual Income: $
    <input type="text" name="annualIncome">
    <br>

    <table style="width: 100%">
      <tr>
        <td>
          <a class="button" routerLink="/home">Previous</a>
        </td>
        <td style="text-align: right">
          <a class="button" routerLink="/sign-up">Next</a>
        </td>
      </tr>
    </table>
  </form>
</div>