<div class="overlay">
  <h2 style="text-align: center">Check Your Rate</h2>
  <form>
    First name:
    <input type="text" #firstName>
    <br> Last name:
    <input type="text" #lastName>
    <br> Date of Birth:
    <app-date-field #dob style="width: 100%"></app-date-field>
    <br> Home Address
    <input type="text" #homeAddress>
    <br> Annual Income: $
    <input type="number" #annualIncome>
    <br>
    <button (click)="submit()">Save</button>

    <table class="buttons">
      <tr>
        <td>
          <a class="button" routerLink="/home">Previous</a>
        </td>
        <td style="text-align: right">
          <a class="button" routerLink="/sign-up-borrower">Next</a>
        </td>
      </tr>
    </table>
  </form>
</div>