<div class="overlay">
  <h2 style="text-align: center">Manual Investment</h2>

  <table>
    <tr>
      <th>Rate</th>
      <th>Duration</th>
      <th>Amount</th>
      <th>% Funded</th>
      <th>Left to be Funded</th>
      <th>End Date</th>
      <th></th>
    </tr>
    <tr *ngFor="let loan of loans">
      <td>{{loan.InterestRate}}%</td>
      <td>{{loan.Duration}}</td>
      <td>{{loan.LoanAmount}}</td>
      <td>{{round(loan.AmountFunded / loan.LoanAmount)}}</td>
      <td>{{loan.LoanAmount - loan.AmountFunded}}</td>
      <td>{{loan.MaturityDate}}</td>
      <td>
        <a class="button" [routerLink]="loan.LoanID">&gt;</a>
      </td>

    </tr>
  </table>

  <a class="button" routerLink="/invest">Previous</a>
</div>