<div class="overlay">
  <h2 style="text-align: center">Loan Offer</h2>

  <div class="center">
    <label>Low End</label>
    <input type="range" [(ngModel)]="preferenceBar">
    <label>High End</label>
  </div>

  <h3>Payback in:</h3>


  <div class="center">
    <card *ngFor="let pt of paymentTypes" title="{{pt.length}} months" [selected]="active == pt.id ? 'selected' : 'regular'">
      <p>Payment/Month: {{pt.payment | currency}}</p>
      <p>Interest Rate: {{pt.rate}}%</p>
      <p>APR: {{pt.apr}}%</p>

      <button (click)="select(pt.id)">Select this guy!!!</button>
    </card>
  </div>

  <table class="buttons" style="text-align: left">
    <tr>
      <td>
        <a class="button" routerLink="/sign-up-borrower">Previous</a>
      </td>
      <td style="text-align: right">
        <a class="button" routerLink="/upload-documents">Next</a>
      </td>
    </tr>
  </table>
</div>