$app-background: rgb(133, 144, 207);
$nav-background: rgb(233, 226, 203);
$overlay-background: rgb(233, 226, 203);
$nav-border-color: rgb(182, 157, 47);
$font-color: #413C58;

// $app-background: #B04545;
// $nav-background: #F2B291;
// $overlay-background: #F2B291;
// $nav-border-color: rgb(182, 157, 47);
// $font-color: #413C58;

// $app-background: rgb(151, 103, 79);
// $nav-background: rgb(159, 219, 186);
// $overlay-background: rgb(159, 219, 186);
// $nav-border-color: rgb(182, 157, 47);
// $font-color: #413C58;

// $app-background: rgb(81, 117, 141);
// $nav-background: rgb(181, 181, 182);
// $overlay-background: rgb(181, 181, 182);
// $nav-border-color: rgb(182, 157, 47);
// $font-color: #413C58;

// $app-background: rgb(169, 159, 197);
// $nav-background: rgb(236, 213, 148);
// $overlay-background: rgb(236, 213, 148);
// $nav-border-color: rgb(182, 157, 47);
// $font-color: #413C58;

// $app-background: rgb(133, 144, 207);
// $nav-background: rgb(233, 226, 203);
// $overlay-background: rgb(233, 226, 203);
// $nav-border-color: rgb(182, 157, 47);
// $font-color: #413C58;